body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(14, 13, 13);
    background-color: rgb(252, 225, 176);
}

.layout-body {
  color: black;
}
h1 {
  text-align: center;
  
}
  /*
   * Formatting the header area
   */
  
header {
    background-color: #573901;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}
  
header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: rgb(0, 255, 76);
    text-transform: uppercase;
    float: left;
  }
  
header h1.logo:hover {
    color: rgb(255, 0, 255);
    text-decoration: none;
  }
  
  /*
   * Centering the body content
   */
  
.container {
    width: 1200px;
    margin: 0 auto;
  }
  
div.home {
    padding: 10px 0 30px 0;
    background-color: #01f30d;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  
div.about {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  
h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  
h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
  }
  
.menu {
    float: right;
    margin-top: 8px;
  }
  
.menu li {
    display: inline;
  }
  
.menu li + li {
    margin-left: 35px;
  }
  
.menu li a {
    color: rgb(0, 243, 93);
    text-decoration: none;
  }

.menu :hover {
  color: rgb(217, 255, 0);
}


.welcome-page {
  clear: left;
}
.welcome {
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
img {
  width: 50%;
  float: right;
  border-radius: 50%;
}

.home-page {
  background: linear-gradient(135deg, green, yellow, indigo);
}

.answer-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 25px;
}

.correct-answers {
  text-align: center;
  font-family: cursive;
  background: linear-gradient(90deg, green, pink)
}

.user-answers {
  background: linear-gradient(90deg, yellow, green);
  
}