<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='scc/main.css') }}">

    {% block head %}{% endblock %}
</head>
<body style="color: rgb(148, 160, 125);">
    <header>
        <div class="container">
            <h1 class="logo">Crazy Quiz Game</h1>
            <nav>
            <ul class="menu">
              <li><a href="{{ url_for('main') }}">Home</a></li>
            </ul>
            </nav>
        </div>
    </header>
    
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    
</body>
</html>