{% block body %}
    <h1>Level-1 Quiz</h1>

<form action="http://localhost:5000/result" method="POST">
    <p>There are 17-floors in apartmant. On the first floor there are only 4 people living, 
        but the more you go higher, the more the number of people is increasing in double. 
        So, which number of the elevator is being pushed the most each day? <br>
        a) Last floor <br>
        b) First floor <br>
        c) Middle floor <br>
        d) All floors are equal   
    </p>
    <hr>

    <p>In the lake there are 30 hungry Sharks that eat each other constantly. 
        A Shark is full when he ate 3 other sharks hungry or full. 
        What number of sharks will have eaten totally 3 of them in the end? <br>
        a) 9 <br>
        b) 7 <br>
        c) 2 <br>
        d) 0
    </p>
    <hr>
    <p>George, Andrey and Sasha - friends. George is real brother of Andrey. 
        Andrey is real brother of Sasha. But is not their brother. Why? <br>
        a) He is UFO <br>
        b) He hates them both <br>
        c) She is girl <br>
        d) It was a trick 
    </p>
    <hr>

    <p>100 students learned English and German languages simultoneously. 
        At the end of course they give an exam which showed that 10 of them could not pass neither English 
        nor German subject. From others who left, 75 passed German and 83 passed English. 
        How many of students know both languages? <br>
        a) 75 <br>
        b) 68 <br>
        c) 88 <br>
        d) 10
    </p>
    <hr>


    <p>There are a group of Caterpillars going on. One is ahead, two are behind. 
        One is behind, two are ahead and one is between. How many of them in a group? <br>
        a) 2 <br>
        b) 3 <br>
        c) 4 <br>
        d) 5 
    </p>
    <hr>

    <p>Which one is heavier, 1kg of Cotton or 1kg of Iron? <br>
        a) Iron <br>
        b) Cotton <br>
        c) None <br>
        d) Equal 
    </p>
    <hr>

    <p>Three huge Chickens can eat three fattest Caterpillars in three minutes. 
        How much time would it take if thirty Chickens were about to eat thirty Caterpillars? <br>
        a) 3 <br>
        b) 5 <br>
        c) 10 <br>
        d) 30 
    </p>
    <hr>

    <p>The treasure hunter made his way to an uninhabited island in the Caribbean using an old map. 
        He wandered for several hours in the dense tropics, untill he came across a tribe of local Aborigens. 
        The tribal elder decided to kill the intruder immediately, but first decided to mock him. 
        The treasure hunter could only say the last phrase in his life. If it turns out to be true, 
        then he will be thrown from the mountain onto rocky shore. If the phrase turns out to be lie, 
        the wanderer will be torn apart by lions. However, the treasur hunter managed to escape. 
        What was his phrase after which the elder was forced to release the treasure hunter??? <br>
        a) I am being torn apart by lions <br>
        b) I want to jump from mountains to rocky shore <br>
        c) I am sorry <br>
        d) I do not want to die 
    </p>
    <hr>


    <p>In the room there are four corners and at each corner there is a cat. 
        In front of each cat there are 3 cats. How many cats are there in total? <br>
        a) 16 <br>
        B) 12 <br>
        c) 3 <br>
        d) 4 
    </p> 
    <hr>

    <p>Alex's grandfather was going home on foot on a sunny and beautiful day. 
        And suddenly rain started pouring and he went home soaking wet. 
        But when he got home not a single hair on his head got wet, Why? <br>
        a) He was ill <br>
        b) He ran too fast <br>
        c) He met a friend <br>
        d) He had't any 
    </p>   
    <hr>

    <p>Two children can create two bicycles in two hours. 
        How many children required to create 12 bicycles in 6 hours? <br>
        a) 2 <br>
        b) 3 <br>
        c) 4 <br>
        d) 5
    </p>
    <hr>


    <p>You were given this, and it belongs to you now. 
        You have never passed it on to anyone, but all your friends use it. What is it? <br>
        a) Skill <br>
        b) Age <br>
        c) Ability <br>
        d) Name 
    </p>
    <hr>

    <p>I never was, am always to be. Noone ever saw me, nor ever will, 
        and yet i am the confidence of all, Who am I ??? <br>
        a) Earth <br>
        b) Sun <br>
        c) Air <br>
        d) Future 
    </p>
    <hr>
    
    <p><input type="submit" value="Submit" id="submit"> </p>
</form>

{% endblock %}