{% extends 'layout.html' %}

{% block body %}

    <h1>Level-2 Quiz</h1>
    <div class="audio" style="float: right;">
      <audio style="background-color: red;" controls="controls" autoplay="autoplay" src="/static/music/carpenters.mp3"></audio> <br>
      <small style="float: right; color: red; background-color: black;">Music is Mind Booster, and LIFE!</small>
    </div>

<form action="result_two" method="POST">
    <p>In what part of the body do you find Fibula? <br>
        a) Head <br>
        b) Arms <br>
        c) Legs <br>
        d) Everywhere in the body
        <p>Answer: <input type = "text" name = "1st" /></p>
    </p>
    <hr>

    <p>If you have Crypthofhobia, what are you afraid of? <br>
        a) Crypto Currency <br>
        b) Hot Weather <br>
        c) Nature <br>
        d) Ice and Cold <br> 
        <p>Answer: <input type = "text" name = "2nd" /></p>
    </p>
    <hr>

    <p>According to ONS, What was the most popular boy's name in the UK in 2018? <br>
        a) Jozeph <br>
        b) George <br>
        c) Oliver <br>
        d) Stephen <br>
        <p>Answer: <input type = "text" name = "3rd" /></p>
    </p>
    <hr>

    <p>Which popular video game franchise has released games with the subtitles -World At War- and -Black Ops- ? <br>
        a) World Of Warcraft <br>
        b) Call of Duty <br>
        c) Darksiders <br>
        d) Alice in Wonderland <br>
        <p>Answer: <input type = "text" name = "4th" /></p>
    </p>   
    <hr>

    <p>What is chemical symbol for Silver? <br>
        a) Ag <br>
        b) h2o <br>
        c) Ac <br>
        d) Al <br>
        <p>Answer: <input type = "text" name = "5th" /></p>
    </p>    
    <hr>


    <p>What is the capital city of Switzerland? <br>
        a) Regensdorf <br>
        b) Zofingen <br>
        c) Geneva <br>
        d) Bern <br>
        <p>Answer: <input type = "text" name = "6th" /></p>
    </p>
    <hr>


    <p>What is the smallest planet in our solar system? <br>
        a) Mercury <br>
        b) Venus <br>
        c) Earth <br>
        d) Mars <br>
        <p>Answer: <input type = "text" name = "7th" /></p>
    </p>
    <hr>


    <p>What does the Latin Tempus mean in English? <br>
        a) Hello <br>
        b) Time <br>
        c) Ruler <br>
        d) Future <br>
        <p>Answer: <input type = "text" name = "8th" /></p>
    </p>
    <hr>


    <p>What is seven cubed? <br>
        a) 343 <br>
        b) 49 <br>
        c) 250 <br>
        d) 7+7+7 <br>
        <p>Answer: <input type = "text" name = "9th" /></p>
    </p>
    <hr>


    <P>How many sonnets did Shakespeare write? <br>
        a) 117 <br>
        b) 154 <br>
        c) 300+ <br>
        d) He did not write any <br>
        <p>Answer: <input type = "text" name = "10th" /></p>
    </P>
    <hr>
    <p style="position: relative; left: 100px; font-size: auto;"><input type="submit" value="Submit" id="submit"> </p>
</form>
  
{% endblock %}