{% extends 'layout.html' %}

{% block body %}

    <h1>Level-2 Quiz</h1>
    <div class="audio" style="float: right;">
      <audio style="background-color: red;" controls="controls" autoplay="autoplay" src="/static/music/carpenters.mp3"></audio> <br>
      <small style="float: right; color: red; background-color: black;">Music is Mind Booster, and LIFE!</small>
    </div>

<form action="result_two" method="POST">
    <p>In what part of the body do you find Fibula? <br>
        a) Head <br>
        b) Arms <br>
        c) Legs <br>
        d) Everywhere in the body
    </p>

    {{ form.First.label(class='form-control-label') }}
    <div class="form-group">
        {% if form.First.errors %}
            {{ form.First }}
            <div class="">
                {% for error in form.First.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}    
            {{ form.First }}
        {% endif %}
    </div>

    <hr>

    <p>If you have Crypthofhobia, what are you afraid of? <br>
        a) Crypto Currency <br>
        b) Hot Weather <br>
        c) Nature <br>
        d) Ice and Cold <br> 
    </p>

    {{ form.Second.label(class='form-control-label') }}
    <div class="form-group">
        {% if form.Second.errors %}
            {{ form.Second }}
            <div class="">
                {% for error in form.Second.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}    
            {{ form.Second }}
        {% endif %}
    </div>

    <hr>

    <p>According to ONS, What was the most popular boy's name in the UK in 2018? <br>
        a) Jozeph <br>
        b) George <br>
        c) Oliver <br>
        d) Stephen <br>
    </p>

    {{ form.Third.label(class='form-control-label') }}
    <div class="form-group">
        {% if form.Third.errors %}
            {{ form.Third }}
            <div class="">
                {% for error in form.Third.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}    
            {{ form.Third }}
        {% endif %}
    </div>

    <hr>

    <p>Which popular video game franchise has released games with the subtitles -World At War- and -Black Ops- ? <br>
        a) World Of Warcraft <br>
        b) Call of Duty <br>
        c) Darksiders <br>
        d) Alice in Wonderland <br>
    </p>   

    {{ form.Fourth.label(class='form-control-label') }}
    <div class="form-group">
        {% if form.Fourth.errors %}
            {{ form.Fourth }}
            <div class="">
                {% for error in form.Fourth.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}    
            {{ form.Fourth }}
        {% endif %}
    </div>

    <hr>

    <p>What is chemical symbol for Silver? <br>
        a) Ag <br>
        b) h2o <br>
        c) Ac <br>
        d) Al <br>
    </p>   
    
    {{ form.Fifth.label(class='form-control-label') }}
    <div class="form-group">
        {% if form.Fifth.errors %}
            {{ form.Fifth }}
            <div class="">
                {% for error in form.Fifth.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}    
            {{ form.Fifth }}
        {% endif %}
    </div>

    <hr>


    <p>What is the capital city of Switzerland? <br>
        a) Regensdorf <br>
        b) Zofingen <br>
        c) Geneva <br>
        d) Bern <br>
    </p>

    {{ form.Sixth.label(class='form-control-label') }}
    <div class="form-group">
        {% if form.Sixth.errors %}
            {{ form.Sixth }}
            <div class="">
                {% for error in form.Sixth.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}    
            {{ form.Sixth }}
        {% endif %}
    </div>

    <hr>


    <p>What is the smallest planet in our solar system? <br>
        a) Mercury <br>
        b) Venus <br>
        c) Earth <br>
        d) Mars <br>
    </p>

    {{ form.Seventh.label(class='form-control-label') }}
    <div class="form-group">
        {% if form.Seventh.errors %}
            {{ form.Seventh }}
            <div class="">
                {% for error in form.Seventh.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}    
            {{ form.Seventh }}
        {% endif %}
    </div>

    <hr>


    <p>What does the Latin Tempus mean in English? <br>
        a) Hello <br>
        b) Time <br>
        c) Ruler <br>
        d) Future <br>
    </p>

    {{ form.Eighth.label(class='form-control-label') }}
    <div class="form-group">
        {% if form.Eighth.errors %}
            {{ form.Eighth }}
            <div class="">
                {% for error in form.Eighth.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}    
            {{ form.Eighth }}
        {% endif %}
    </div>

    <hr>


    <p>What is seven cubed? <br>
        a) 343 <br>
        b) 49 <br>
        c) 250 <br>
        d) 7+7+7 <br>
    </p>

    {{ form.Ninth.label(class='form-control-label') }}
    <div class="form-group">
        {% if form.Ninth.errors %}
            {{ form.Ninth }}
            <div class="">
                {% for error in form.Ninth.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}    
            {{ form.Ninth }}
        {% endif %}
    </div>

    <hr>


    <P>How many sonnets did Shakespeare write? <br>
        a) 117 <br>
        b) 154 <br>
        c) 300+ <br>
        d) He did not write any <br>
    </P>

    {{ form.Tenth.label(class='form-control-label') }}
    <div class="form-group">
        {% if form.Tenth.errors %}
            {{ form.Tenth }}
            <div class="">
                {% for error in form.Tenth.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}    
            {{ form.Tenth }}
        {% endif %}
    </div>

    <hr>
    <p style="position: relative; left: 100px; font-size: auto;"><input type="submit" value="Submit" id="submit"> </p>
</form>
  
{% endblock %}