<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
        <h1 style="color: brown">Level-2</h1>
    

    <p>In what part of the body do you find Fibula? <br>
        a) Head <br>
        b) Arms <br>
        c) Legs <br>
        d) Everywhere in the body
    </p>
    <hr>

    <p>If you have Crypthofhobia, what are you afraid of? <br>
        a) Crypto Currency <br>
        b) Hot Weather <br>
        c) Nature <br>
        d) Ice and Cold 
    </p>
    <hr>

    <p>According to ONS, What was the most popular boy's name in the UK in 2018? <br>
        a) Jozeph <br>
        b) George <br>
        c) Oliver <br>
        d) Stephen 
    </p>
    <hr>

    <p>Which popular video game franchise has released games with the subtitles -World At War- and -Black Ops- ? <br>
        a) World Of Warcraft <br>
        b) Call of Duty <br>
        c) Darksiders <br>
        d) Alice in Wonderland 
    </p>   
    <hr>

    <p>What is chemical symbol for Silver? <br>
        a) Ag <br>
        b) h2o <br>
        c) Ac <br>
        d) Al 
    </p>    
    <hr>


    <p>What is the capital city of Switzerland? <br>
        a) Regensdorf <br>
        b) Zofingen <br>
        c) Geneva <br>
        d) Bern 
    </p>
    <hr>


    <p>What is the smallest planet in our solar system? <br>
        a) Mercury <br>
        b) Venus <br>
        c) Earth <br>
        d) Mars
    </p>
    <hr>


    <p>What does the Latin Tempus mean in English? <br>
        a) Hello <br>
        b) Time <br>
        c) Ruler <br>
        d) Future
    </p>
    <hr>


    <p>What is seven cubed? <br>
        a) 343 <br>
        b) 49 <br>
        c) 250 <br>
        d) 7+7+7 
    </p>
    <hr>


    <P>How many sonnets did Shakespeare write? <br>
        a) 117 <br>
        b) 154 <br>
        c) 300+ <br>
        d) He did not write any 
    </P>
    
</body>
</html>