{% extends 'layout.html' %}
{% block head %} {% endblock %}
{% block body %}
   <div class="lv-1">
      <h1 style="color: green; text-align: center;">WorldWide Quiz Level-1</h1>
      <form action='/quiz' method='POST'>
         <ol style="color: black; font-size: 20px;">
            {% for key, value in quest.items() %}
               <li style="font-style: italic; font-weight: bold;">-{{key}}</li>
               {% for i in value %}
                  <ul>
                     <li>{{i}}</li>
                  </ul>
               {% endfor %}
               <hr>
            {% endfor %}
         </ol>
         <input type="submit" value="submit" />
      </form>
   </div>
{% endblock %}