{% extends 'layout.html' %}
{% block head %} {% endblock %}

{% block body %}
<audio style="float: right; background-color: red;" controls="controls" autoplay="autoplay" src="/static/music/furelise.mp3"></audio>
   <div class="lv-1">
      <h1 style="color: green; text-align: center;">WorldWide Quiz Level-1</h1>
      <form action='/result' method='POST'>
         <ol style="color: black; font-size: 20px;">
            {% for key, value in quest.items() %}
               <li style="font-style: italic; font-weight: bold;">-{{key}}</li>
               {% for i in value %}
                  <ul>
                     <li style="font-family: cursive; background-color: rgb(152, 253, 0); width: 25%; border-radius: 30%;">{{i}}</li>
                  </ul>
               {% endfor %}
               <p style="font-family: cursive;">Answer: <input type = "text" name = "Name" /></p>
               <hr>
            {% endfor %}
         </ol>
         <input style="position:relative; left: 47%; bottom: 15px; font-size: x-large;" type="submit" value="Submit" />
      </form>
   </div>
   
{% endblock %}